<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/icone.ico"/>
    <script defer src="/static/js/script.js"></script>
    <script src="https://use.fontawesome.com/62e43a72a9.js"></script>
</head>
<body>
    <div class="form-header">
        <div class="logo">
            <img src="/static/images/image.png" alt="Logo">
        </div>
        <div class="dark-mode-button">
            <button id="dark-mode-button"><i class="fa fa-moon-o" aria-hidden="true"></i></button>
        </div>
    </div>
    
    <div class="form-container">
        <div class="form-body">
            <form id="chatForm">
                <div class="conversa">
                    <div class="mensagens">
                        <textarea name="chatbot" class="chatbot" readonly></textarea>
                    </div>

                    <div class="mensagem">
                        <input type="text" name="chat" class="chat" id="inputMensagem" placeholder="Pergunte alguma coisa" autocomplete="off">

                        <div class="botoes">
                            <button type="submit" class="btn-enviar"><i class="fa fa-chevron-right" aria-hidden="true"> </i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
