/* Resetando margens e paddings */
* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

/* Estilos do formulário */
.form-container {
    background-color: transparent;
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    border-radius: 2rem;
}

.form-container.dark-mode {
    background-color: transparent; /* Azul no modo escuro */
}

/* Cabeçalho */
.form-header {
    display: flex;
    justify-content: space-around; /* Distribui a logo e o botão para os extremos */
    align-items: center; /* Alinha verticalmente */
    width: 100%;
    margin-bottom: 15px;
}

.form-header .logo {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza a logo */
}

.form-header .logo img {
    display: block;
    width: 120px;
    margin-left: 50%;
}

.form-header .dark-mode-button {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
}

/* Logo */
.logo img {
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Área de envio de mensagens */
.mensagem {
    border-radius: 1.5rem;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    padding: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    box-shadow: 1px 1px 20px;
}

.mensagem #inputMensagem {
    flex: 0.9;
    background-color: transparent;
    color: #333; /* Cor normal */
    border: none;
    border-bottom: 1px solid black;
    padding: 6px;
}

/* Input focus */
input:focus {
    outline: none;
    box-shadow: none;
}

/* Botões */
.btn-enviar {
    cursor: pointer;
    transition: 0.5s;
    padding: 6px 12px;
    background-color: #333;
    color: #fff;
    border-radius: 0.6rem;
    border: none;
}

.btn-enviar:hover {
    background-color: #555555;
}

.btn-anexar {
    cursor: pointer;
    border-radius: 5cm;
    padding: 6px;
    background-color: #2681ff; /* Amarelo */
    border: none;
    font-size: 13px;
    color: #fff;
    transition: 0.5s;
}

.btn-anexar:hover {
    background-color: #2270de; /* Tom mais escuro de amarelo */
}

/* Ajustando a área de mensagens */
.mensagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mensagens textarea {
    width: 98%;
    height: 480px;
    min-height: 30px;
    resize: none;
    border: none;
    background-color: white;
    color: #333; /* Texto em #333 */
    padding: 5px;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 1rem;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: scroll;
}

/* Remove a barra de rolagem do textarea */
.mensagens textarea::-webkit-scrollbar {
    width: 0px;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Texto branco */
}

body.dark-mode .form-container {
    background-color: transparent; /* Azul no modo escuro */
}

body.dark-mode .btn-enviar, body.dark-mode .btn-anexar {
    background-color: #fff; 
    color: #333;
}

body.dark-mode .btn-enviar:hover, body.dark-mode .btn-anexar:hover {
    background-color: #b9b9b9;
}

body.dark-mode .mensagens textarea {
    background-color: #333; /* Texto mais claro sobre fundo escuro */
    color: #fff; /* Texto branco no textarea */
}

body.dark-mode .mensagem #inputMensagem {
    color: #fff; /* Texto branco no input */
    border-bottom: 1px solid #000000; /* Cor de borda branca */
}

body.dark-mode .mensagem{
    background-color: #525252;
    box-shadow: 1px 1px 20px #292929;
}

/* Botão de alternância de modo */
#dark-mode-button {
    cursor: pointer;
    background-color: #333; /* Amarelo */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5cm;
    transition: 0.3s;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dark-mode-button:hover {
    background-color: #474747;
}

/* Botão de alternância no modo escuro */
body.dark-mode #dark-mode-button {
    background-color: #fff;
    color: #333;
}

body.dark-mode #dark-mode-button:hover {
    background-color: #b4b4b4;
}
